// *** Proxima Nova ***
@font-face {
    font-family: 'Proxima Nova Black';
    src: url(../fonts/ProximaNova/ProximaNova-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Black-Italic';
    src: url(../fonts/ProximaNova/ProximaNova-BlackIt.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(../fonts/ProximaNova/ProximaNova-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Bold-Italic';
    src: url(../fonts/ProximaNova/ProximaNova-BoldIt.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url(../fonts/ProximaNova/ProximaNova-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Light-Italic';
    src: url(../fonts/ProximaNova/ProximaNova-LightIt.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(../fonts/ProximaNova/ProximaNova-Reg.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Regular-Italic';
    src: url(../fonts/ProximaNova/ProximaNova-RegIt.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova SemiBold';
    src: url(../fonts/ProximaNova/ProximaNova-Sbold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova SemiBold-Italic';
    src: url(../fonts/ProximaNova/ProximaNova-SboldIt.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Thin';
    src: url(../fonts/ProximaNova/ProximaNova-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova Thin-Italic';
    src: url(../fonts/ProximaNova/ProximaNova-ThinIt.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova ExtraBold';
    src: url(../fonts/ProximaNova/ProximaNova-Xbold.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova ExtraBold-Italic';
    src: url(../fonts/ProximaNova/ProximaNova-XboldIt.otf) format('opentype');
}




// *** Lato ***
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Black-Italic';
    src: url(../fonts/Lato/Lato-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Bold-Italic';
    src: url(../fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Hairline';
    src: url(../fonts/Lato/Lato-Hairline.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Hairline-Italic';
    src: url(../fonts/Lato/Lato-HairlineItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Italic' ;
    src: url(../fonts/Lato/Lato-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Light Italic';
    src: url(../fonts/Lato/Lato-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
}


// *** Proxima
@font-face {
    font-family: 'Proxima Nova-ExtraBold';
    src: url(../fonts/ProximaNova/ProximaNova-Extrabld.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova-ExtraBoldOTF';
    src: url(../fonts/ProximaNova/ProximaNova-Extrabld.otf) format('opentype');
}


