#third > .container-fluid {
    padding: 0;
}

#third > .container-fluid > .col-lg-12.col-md-10 {
    padding: 0;
}


#third ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    // background: transparent;  /* optional: just make scrollbar invisible */
}
#third .cover-container {
    height: 1750px;
    width: 100%;
    margin-top: 200px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    // font-family: "Proxima Nova ExtraBold";
}

#third .cover-container > .cover-item {
    position: relative;
    display: inline-block;
    margin: 35px 30px 0 0;
    width: 875px;
    height: 1555px;
    vertical-align: middle;
    color: white;
    // background-color: lightgray; // remove after dev
    -webkit-transform: perspective(1px) translateZ(0);
    //transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    //overflow: hidden;
    transition: all .2s ease-in-out;
    border: 15px solid white;
}

#third .cover-container > .cover-item > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 45, 45, 0.28)
}

#third .cover-container > #cover1.cover-item > .overlay {
    background-color: rgba(46, 45, 45, 0.48)
}


#third .cover-container > #cover2.cover-item > .overlay {
    background-color: rgba(46, 45, 45, 0.48)
}

#third .cover-container > .cover-item.selected {
    // width: 975px;
    // height: 1685px;
    border: 15px solid #4ec6ee;
}


#third .cover-container > .cover-item:hover,
#third .cover-container > .cover-item:focus,
#third .cover-container > .cover-item:active {
    // border-bottom: 15px solid #4ec6ee;
    transform: scale(1.05);
}


#third .cover-container > .cover-item.first-cover {
    margin: 35px 30px 0 100px;
    background-color: transparent;
}

#third .cover-container > .cover-item.last-cover {
    margin: 0 100px 0 0;
}

#third .cover-container > .cover-item > .cover-video {
    width: 100%;
    height: 100%;
}


#third .cover-container > .cover-item > .cover-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#third .cover-container > .cover-item > .cover-image img{
    position: relative;
    z-index: -10;
}

#third .cover-container > .cover-item > .cover-image img.instagram-img {
    width: 100%;
    height: 100%;

}

#third .cover-container > .cover-item > .cover-image img.nhl-img {
    top: 80px;
    left: -1020px;
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
}

#third .cover-container > .cover-item .metadata{
    position: absolute;
    margin: 40px 0 0 50px;
    font-family: 'Montserrat';
    font-size: 0.8em;
}

#third .cover-container > .cover-item .play-button {
    position: absolute;
    top: 784px;
    left: 360px;
}

#third .cover-container > .cover-item .title{
    font-family:"Proxima Nova-ExtraBoldOTF";
    position: absolute;
    top: 850px;
    margin-left: 50px;
    margin-right: 40px;
    font-size: 85px;
    line-height: 130px;
    white-space: normal;
}

#third .cover-container > #cover1.cover-item .title.bottom-title {
    font-family:"Proxima Nova-ExtraBoldOTF";
    top: 1250px;
    font-size: 1.5em;
}
#third .cover-container > #cover2.cover-item .title.bottom-title {
    font-family:"Proxima Nova-ExtraBoldOTF";
    top: 1100px;
    font-size: 1.5em;
}
#third .cover-container > #cover3.cover-item .title.bottom-title {
    font-family:"Proxima Nova-ExtraBoldOTF";
    top: 1250px;
    font-size: 1.5em;
}

#third .cover-container > #cover4.cover-item .title.bottom-title {
    font-family:"Proxima Nova-ExtraBoldOTF";
    top: 1100px;
    font-size: 1.5em;
}

#third .cover-container > #cover5.cover-item .title.bottom-title {
    font-family:"Proxima Nova-ExtraBoldOTF";
    top: 1250px;
    font-size: 1.5em;
}

#third .cover-container > .cover-item .sub-title{
    position: absolute;
    top: 1000px;
    margin-left: 50px;
    font-size: 115px;
    line-height: 130px;
    white-space: normal;
    font-family: Montserrat;
    font-size: 1.3em;
}

#third .cover-container > .cover-item .sub-title.bottom-subtitle {

    top: 1350px;
}


#third {
    opacity: 1;
    transition: 2s opacity;
}

#third.fadeout {
    opacity: 0;
    transition: none;
}

